@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add to your CSS file */
datalist {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    max-height: 200px;
    overflow-y: auto;
}