@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add to your CSS file */
datalist {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    max-height: 200px;
    overflow-y: auto;
}

    #customers-dropdown table {
        border-collapse: collapse;
        width: 20%;
    }
    
    #customers-dropdown th {
        background-color: #f8fafc;
        position: sticky;
        top: 0;
    }
    
    #customers-dropdown tr:hover {
        background-color: #f0f4ff;
    }
    
    #customers-dropdown td, #customers-dropdown th {
        padding: 8px 12px;
        border-bottom: 1px solid #e2e8f0;
    }
